@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color:#dddcdb;
  text-align:center;
  font-family:'Raleway', Helvetica, sans-serif;
}

h1 {
  margin:10px auto;
}

#form {
  margin:10px auto;
  background:white;
  width:75%;
  border-radius:5px;
  
}

.row {
  margin:15px auto;
}

.leftpane{
  display:inline-block;
   text-align:right;
  width:40%;
  margin:5px auto;
  
}

.rightpane {
  display:inline-block;
  text-align:left;
  width:48%;
 margin:5px auto;
}

.textfield {
  width:280px;
  height:25px;
  border:1px solid #c0c0c0;
  border-radius:2px
}

#dropdown {
  width: 100px;
  height:30px;
}

#description {
  margin:20px auto;
  width:20%;
  display:block;
  padding-top:20px;
}


div#selectionoptions {
  margin 20px 0px;
}

div#selection {
  vertical-align:top;
}

#textarea {
  border-radius:2px;
}

button {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}