html,body {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
  #navbar {
      position: static;
      width: 100%;
  }
  
  #navbar a {
      margin-top: 10px;
  }
  
  #main-doc {
      width: 100%;
      margin-left: 0%;
  }
}


#sidepane {
  width: 15%;
  height: 100%;
  background-color: #f1f1f1;
  
}

#navbar {
  position: fixed;
  height: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
   }
  
   #navbar li {
     overflow: visible;
     width: 100%;
    margin-bottom: 2ex;
    margin-top: 2ex;

   }

   #navbar li a {
    color: #000;
    width: 100%;
  }
  
  #navbar li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  #navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
    display: block;
  }

  #Nav-Header {
      padding: 8px 16px; 
  }

  #main-doc {
      display: flex;
      height: 100%;
      width: 100%;
  }

  

  #mainpane {
      padding-left: 10px;
      padding-top: 35px;
width: 75%;
height: 100%;
  }

  