
html,body {
    height: 97%;
}


#main-page {
    height: 100%;
    }

    #navbar {
        width: 100%
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:lightseagreen;
        border-radius: 5px;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
    


#welcome-section{
    background-color: azure;
    width: 100%;
    height: 70%;     
}

h1 {
    margin:0;
    padding:20px;
    text-align: center;
    vertical-align: center;
    color:green;
}


img#coding {
    margin-top:10%;
    margin-left:43%;
    height: 200px;
    width: 200px;
}


@media  (max-width:400px) {
    .row {
        display:flex;
        flex-direction: column;
       
    }  
 }

.row {
    display:flex;
    flex-direction: row;

    
}

.project-tile {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    margin-left: 17%;
    margin-right:17%;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
  }
  .cardText {
    margin-bottom: 30px;
  }
  #thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }


/*
#project-name {
    display:flex;
    background-color: antiquewhite;
    border-width: 1px 0 0 0; 
    border-style: solid;
    border-color: black;
    height:100%;
    
}



#projects {
background-color:rgb(213, 222, 224);
width: 100%;
}

.project-title {
    margin:20px;
    
}

.project-details{
    margin:10px;
    border-style:solid;
    border-width:1px;
    border-radius:3px;
    padding:4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
    
}

*/